.tab-menu {
    border-bottom: 1px solid #000;
}
.tab {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
}
.tab.active {
    margin: 2px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
